html, body {

}
body {
	background-color: grey;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 600;
    font-size:.9em;
}
button {
	box-shadow: 0 0 2px inset white, 0 0 2px black;
    cursor: pointer;
    height:31px;

    color:black;
}
button:disabled{
	box-shadow: 0 0 30px inset black, 0 0 0px black;
	cursor: not-allowed;
	color:transparent;
}

h4 {
	box-shadow: 0 0 4px inset black, 0 0 4px white;
	padding:8px;
	margin:0;
	text-indent: 0;
}
.loadBtn {

	float: left;
	margin-left: 0;
	margin-top: 6px;
}
.clearAllBtn {
	width:404px;
	clear:both;
	float: left;
	margin-top: 4px;
}
.initButton {
    margin-top:5px;
    margin-right:2px;
    float:right;
    height: 32px;
}
.spnHiLite {
	color: darkred;
	padding: 2px 8px; 
}
.spnCode {
	background-color: white;
	padding: 2px 8px;
	margin: 0 2px;
}
.holder {
	position: relative;
	box-shadow: 0 0 4px inset white, 0 0 4px black;
	height: auto;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 40px;
    text-align: center;
	padding: 5px 5px;
	float: left;
    flex:2;

}
.holder2 {
	position: relative;
	box-shadow: 0 0 4px inset white, 0 0 4px black;
	height: auto;

    margin-right: 5px;
    margin-bottom: 40px;

	padding: 5px 5px;
	float: left;
    
    flex:2;
}
.holder3 {
	position: relative;
    background-color: rgba(255,255,255,0.5);
	height: auto;

    margin-right: 5px;
    margin-bottom: 40px;

	padding: 5px 5px;
	float: left;

    flex:1;
}
.txBox {
	width:98%;
	height: 120px;
	margin:3px 0;
	outline:none;
	resize: none;
	clear:both;
	float: left;
	box-shadow: 0 0 2px inset white, 0 0 2px black;
  
}
.ins {
	width:130px;
	height:26px;
	margin:5px 0;

	text-indent: 10px;
	outline:none;
    float:left;
	box-shadow: 0 0 2px inset white, 0 0 2px black;
}
.ins2 {
	width:150px;
	height:26px;
	margin:5px 0;
	text-indent: 10px;
	outline:none;

	box-shadow: 0 0 2px inset white, 0 0 2px black;
}
.labels {
	background-color: silver;
	width:93%;
	text-indent: 8px;
    text-align: left;
	padding: 5px 13px;
	clear:both;
	float: left;

	box-shadow: 0 0 2px inset white, 0 0 2px black;
}
.txBox2 {
	clear:left;
	float:right;
	margin-top:3px;
	height:540px;
	width:400px;
	resize: none;
}
.labels, .ins, .txBox, .spnCode, .txBox2 {
	box-shadow: 0 0 2px inset white, 0 0 2px black;
}
.holder, .labels, .spnCode, .spnHiLite {
cursor:default;

}
.holder, .labels, .ins, .txBox {
	transition: 700ms all;

}
#demo {
    display: flex;
    flex-direction: row;
}
#lsLabel3 {
	width:628px;
}
#lsLabel4 {
	width:165px;
	background-color: orange;
}