html, body {
    -webkit-user-select: none; /* Safari */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
body {
	background-color: darkgrey;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 600;
    font-size:.9em;
    text-align: center;
}
button {
	box-shadow: 0 0 2px inset white, 0 0 2px black;
    cursor: pointer;
    height:31px;

    color:black;
}
button:disabled{
	box-shadow: 0 0 30px inset black, 0 0 0px black;
	cursor: not-allowed;
	color:transparent;
	background-color: rgba(200,130,130,1);
}

h4 {
	box-shadow: 0 0 4px inset black, 0 0 4px white;
	padding:8px;
	margin:0;
	text-indent: 0;
}
::selection {
  background: #ffb7b7;
  color: darkred;
}
.loadBtn {
    height: 32px;
    
	float: left;
	margin-left: 0;
	margin-top: 5px;
}
.clearAllBtn {
	width:360px;
	clear:both;
	float: left;
	margin-top: 4px;
}
.initButton {
    margin-top:5px;

    float: left;
    height: 33px;
    width:102px;
}
.spnHiLite {
	color: darkred;
	padding: 2px 8px; 
}
.spnCode {
	background-color: white;
	padding: 2px 8px;
	margin: 0 2px;
}
.holder {
    position: relative;
	box-shadow: 0 0 4px inset white, 0 0 4px black;
	height: auto;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 40px;

	padding: 5px 0;
    width:370px !important;
    max-width: 360px;

}
.holder2 {
	position: relative;
	box-shadow: 0 0 4px inset white, 0 0 4px black;
	height: auto;

    margin-right: 5px;
    margin-bottom: 40px;

	padding: 5px 5px;
	float: left;
    

}
.holder3 {
	position: relative;
    background-color: rgba(255,255,255,0.3);
	height: auto;

    margin-right: 5px;
    margin-bottom: 40px;

	padding: 5px 5px;
	float: left;
    min-width:100px;
}
.txBox {
	width:354px;
	height: 120px;
	margin:3px 0;
	outline:none;
	resize: none;
	clear:both;
	float: left;
	box-shadow: 0 0 2px inset white, 0 0 2px black;
  
}

.ins {
	width:125px;
	height:26px;
	margin:5px 0;

	text-indent: 10px;
	outline:none;
    float:left;
	box-shadow: 0 0 2px inset white, 0 0 2px black;
}
.ins2 {
	width:150px;
	height:26px;
	margin:5px 0;
	text-indent: 10px;
	outline:none;

	box-shadow: 0 0 2px inset white, 0 0 2px black;
}
.labels {
	background-color: silver;
	width:334px;
	text-indent: 8px;
    text-align: left;
	padding: 5px 13px;
	clear:both;
	float: left;

	box-shadow: 0 0 2px inset white, 0 0 2px black;
}
.txBox2 {
	clear:left;
	float:right;
	margin-top:5px;
	height:540px;
	width:400px;
	resize: none;
	outline:none;
}
.labels, .ins, .txBox, .spnCode, .txBox2 {
	box-shadow: 0 0 2px inset white, 0 0 2px black;
}
.holder, .labels, .spnCode, .spnHiLite {
cursor:default;

}
.holder, .labels, .ins, .txBox {
	transition: 700ms all;

}
#demo {
    display: flex;
    flex-direction: row;
    margin:0 auto;
    width:fit-content;

}
#lsLabel3 {
	width:628px;
}
#lsLabel4 {
	width:100%;
	background-color: orange;
}